body{
overflow-x: hidden;
color: #000000;
background-color: #b5acad;
background-color: #adaaab;
background-color: #cfcccd;
background-color: #e8e3e5;
}

/*   Navbar  */
.navbar_mystyle{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
 
 // background: rgba(107, 3, 17,0.6)!important; 
  background: rgba(66, 7, 14,0.6)!important;
  
  font-size: 0.8rem;
}

.nav_logo img{
  height: 5.5rem;

}
.nav_lists li{
  padding-left: 0.3rem;
  align-self: center;
}

.nav_lists .nav-link.active,
.nav_lists .nav-link:hover{
  color: white!important;
  font-size: 0.9rem;
}

/*   home_slider  */

.carousel-item{
  height: 100vh;
  position: relative;
}

.carousel-item .home_text{
  position: absolute;
  top: 30%;
  left: 10%;
  text-align: left;
  margin-left: 1rem;
}
.carousel-item .home_text .btn{
  border-width: 0.2rem;  
  font-weight: bolder;
  background-color: rgba(0,0,0,0.6)!important;
  
}
.carousel-item .home_text p{
  font-size: 1.3rem;
}

/*---Footer---*/
.footer_body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #111;
  height: auto;
  width: 100vw;
  color: white;

}
.footer_content{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}


.social_med{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.social_med li{
  margin:0 1rem 0 1rem  ;

}
.social_med a {
  font-size: 1.5rem;
  color: #fff;
}
.social_med a:hover{
  color: aqua;
}

/**-----Contact page----*/
.contact_form_banner{
   background: #42070e !important;
}
.form-label span{
  color: red;
}
.contact_form_btn{
  border-color: #42070e !important;
  border-width: 2px;
  color: #42070e;
}
.contact_form_btn:hover{
  background: #42070e !important;
  color: white;
}

/*----- Login page -----*/

.login_backgound_img{
  margin: 0px;
  padding: 0px;
  height: 100vh;

  background: url('../images/lobby.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}


.login_form{
  color: white;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0px;
  padding:40px 20px 20px 20px;
  box-shadow: 3px 3px 4px #42070e;
  margin: 20px;
}
.login_form h3{
  text-shadow: 2px 2px 4px red;
}

.login_form .form-control{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background:transparent;
  color: white;
}
.login_form button{
  border-color: white;
  border-width: 2px;
  color: white;
  margin-top: 20px;

}
.login_form button:hover{
  background: #42070e;
  color: white;
}

/**---------- Profile ---------*/
.user_profile{
  color: white;
  background: rgba(66, 7, 14,0.6)!important;
  /*background: rgba(156, 146, 146,0.6)!important;*/ 
  background:transparent;
  border: 0px;
  padding:40px 20px 20px 20px;
  box-shadow: 3px 3px 4px #42070e;
  margin-top: 104px!important;
  padding-bottom: 70px!important;

  margin-top: 204px!important;
  margin-bottom: 100px!important;
}

.user_profile h2{
  text-shadow: 2px 2px 4px maroon;
}
.user_profile .label,.user_profile a{
  font-size: 1.3rem;
  text-shadow: 2px 2px 4px maroon;
    
}
.user_profile span{
  font-size: 1.1rem;  
}

.edit_profile{
  background: rgba(66, 7, 14,0.6)!important;
  background:transparent;
  border: 0px;
  padding:40px 20px 20px 20px;
  box-shadow: 3px 3px 4px #42070e;
}
.edit_profile .form-control{  
  background:transparent;
  color: white;
}

.edit_profile button{
  border-color: white;
  border-width: 2px;
  color: white;
  background:transparent;
  margin-top: 20px;
  text-shadow: 2px 2px 4px maroon;
}
.edit_profile button:hover{
  background: #42070e;
  color: white;
  
}
.edit_profile h3{
  text-shadow: 2px 2px 4px maroon;
}
.edit_profile .form-label{
 
  text-shadow: 2px 2px 4px maroon;
}


/**-----booking---*/
.booking-img{
  position: relative;
}
.booking-form{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}

.checkin, .checkout, .type{
  background: rgb(66, 7, 14)!important;
  color: white;
  font-size: 1.1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: white;
  border-radius: 20px!important;

}
.schedule .checkin p, .checkout p, .type p{
  margin: 0px;
  margin-bottom: 3px;
}

.schedule .blk-day{
  width: 26%;
  padding-right: 0px;  
  box-sizing: border-box;
  
}
.schedule .blk-month{
  width: 44%;
  padding: 0px;
  box-sizing: border-box;
}
.schedule .blk-year{
  width: 30%;
  padding: 0px;
  box-sizing: border-box;
}
.schedule .blk-type{
 
  padding-right: 0px;
  box-sizing: border-box;
  width: 70%;
}
.schedule .blk-book{
  
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  padding: 0px;
  width: 30%;
  text-align: right;
  padding-right: 15px;
}
.schedule .btn-book{
  background: rgb(66, 7, 14);
  border-color: white;
  border-width: 0.1rem;
  color: white;
}
.schedule .btn-book:hover{
  background: white;
  border-width: 0.1rem;
  color: rgb(66, 7, 14);
  
}

/*-----------services------------*/
.services h2{
  color: rgb(66, 7, 14);
  font-weight: bold;
}
.service_blocks{
  text-align: center;
}
.service_blocks .blk{
  height: 100%;  
  margin-top: -110px;
  padding-bottom: 130px;
  background: #d9cacb;
  border-radius: 20px;
}
.service_blocks .blk h4{
  color: rgb(66, 7, 14);
  padding-top: 30px;
  font-weight: bold;
}
.service_blocks .blk p{
  color: black!impotant;
  padding: 40px;
  font-size: 1.3rem;
}

.service_blocks .icons{
  padding: 10px;
  margin-top: -40px;
  background-color: rgb(66, 7, 14);
  height: 5.5rem;
  border-radius: 20px;
}

/*---------gallery----------*/

.catagory-section{
  background: #d9cacb;
  padding-top: 50px;
}
.catagory-section .card-blk{

 padding-bottom: 20px;
 display: flex;

}
.card-blk .card-partion{
 display: flex;
}
.card-blk .card-text{
  font-weight: bold;
  padding-bottom:10px;
  margin-bottom: 0px;
}
.card-blk .card-title{  
  font-size: 1.4rem;
  text-shadow: 2px 2px 4px maroon;
  padding-bottom:15px;
}
.card-blk .card-text span{
  font-weight: normal;
  font-size: 0.9rem;
}
.catagory-section .card_img{
  
  height: inherit;  
}

/*----------about us-------*/
.about-background {
  height: 100vh;
 /* background-color: #cccccc;*/
  opacity: 80%;
  background-repeat: no-repeat,
}








