body{
overflow-x: hidden;
color: #000000;
box-sizing: border-box;
background-color: #e8e3e5;
}

/*   Navbar  */
.navbar_mystyle{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background: rgba(66, 7, 14,0.6)!important;
  
  font-size: 0.8rem;
}

.nav_logo img{
  height: 5.5rem;

}
.nav_lists li{
  padding-left: 0.3rem;
  align-self: center;
}

.nav_lists .nav-link.active,
.nav_lists .nav-link:hover{
  color: white!important;
  font-size: 0.9rem;
}

/*   home_slider  */

.carousel-item{ 
  position: relative;
}

.carousel-item .home_text{
  position: absolute;
  top: 30%;
  left: 10%;
  text-align: left;
  margin-left: 1rem;
}
.carousel-item .home_text .btn{
  border-width: 0.2rem;  
  font-weight: bolder;
  background-color: rgba(0,0,0,0.6)!important;
  
}
.carousel-item .home_text p{
  font-size: 1.3rem;
}

/*---Footer---*/
.footer_body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #111;
  height: auto;
  width: 100vw;
  color: white;

}
.footer_content{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}


.social_med{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.social_med li{
  margin:0 1rem 0 1rem  ;

}
.social_med a {
  font-size: 1.5rem;
  color: #fff;
}
.social_med a:hover{
  color: aqua;
}

/**-----Contact page----*/
.contact_form_banner{
   background: #472328 !important;
}
.contact-form{
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.form-label span{
  color: red;
}
.contact_form_btn{
  border-color: #42070e !important;
  border-width: 2px;
  color: #472328;
}
.contact_form_btn:hover{
  background: #472328 !important;
  color: white;
}

/*----- Login page -----*/

.login_backgound_img{
  margin: 0px;
  padding: 0px;
  height: 100vh;

  background: url('../images/lobby.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}


.login_form{
  color: white;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0px;
  padding:40px 20px 20px 20px;
  box-shadow: 3px 3px 4px #42070e;
  margin: 20px;
}
.login_form h3{
  text-shadow: 2px 2px 4px red;
}

.login_form .form-control{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background:transparent;
  color: white;
}
.login_form button{
  border-color: white;
  border-width: 2px;
  color: white;
  margin-top: 20px;

}
.login_form button:hover{
  background: #42070e;
  color: white;
}

/**---------- Profile ---------*/
.user_profile{
  color: white;
  background: #472328!important;
  /*background: rgba(156, 146, 146,0.6)!important;*/ 
  background:transparent;
  border: 0px;
  padding:40px 20px 20px 20px;
  box-shadow: 3px 3px 4px #42070e;
  margin-top: 104px!important;
  padding-bottom: 70px!important;

  margin-top: 204px!important;
  margin-bottom: 100px!important;
}

.user_profile h2{
  text-shadow: 1px 1px 4px white;
}
.user_profile .label,.user_profile a{
  font-size: 1.3rem;
  text-shadow: 1px 1px 4px white;
    
}
.user_profile span{
  font-size: 1.1rem;  
}
.profile-photo{
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.edit_profile{
  background: #472328!important;
  background:transparent;
  border: 0px;
  padding:40px 20px 20px 20px;
  box-shadow: 3px 3px 4px #42070e;
}
.edit_profile .form-control{  
  background:transparent;
  color: white;
}

.edit_profile button{
  border-color: white;
  border-width: 2px;
  color: white;
  background:transparent;
  margin-top: 20px;
  text-shadow: 1px 1px 4px white;
}
.edit_profile button:hover{
  background: #42070e;
  color: white;
  
}
.edit_profile h3{
  text-shadow: 1px 1px 4px white;
}
.edit_profile .form-label{
 
  text-shadow: 1px 1px 4px white;
}


/**-----booking---*/
.booking-img{
  position: relative;

}
.booking-form{
  position: absolute;
  top: 80%;
  left: 55%;
  transform: translate(-50%, -50%);
  background: transparent;
  box-sizing: border-box;
}

.checkin, .checkout, .type{
  background: rgb(66, 7, 14)!important;
  color: white;
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 20px;
  border-color: white;
  border-radius: 20px!important;

}
.schedule .checkin p, .checkout p, .type p{
  margin: 0px;
  margin-bottom: 2px;
}

.booking{
  padding-left: 0px;
  align-self: center;
}
.schedule .btn-book{
  background: rgb(66, 7, 14);
  border-color: white;
  border-width: 0.1rem;
  color: white;
  font-weight: bold;
}
.schedule .btn-book:hover{
  background: white;
  border-width: 0.1rem;
  color: rgb(66, 7, 14);
  font-size: 1.1rem;
  border-color:rgb(66, 7, 14);
  font-weight: bold;  
}

.booking_confirmation_form{
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*-----------services------------*/
.services h2{
  color: rgb(66, 7, 14);
  text-shadow: 2px 2px 4px maroon;
  font-weight: bold;
}
.service_blocks{
  text-align: center;
}
.service_blocks .blk{
  height: 100%;  
  margin-top: -110px;
  padding-bottom: 130px;
  background: #d9cacb;
  border-radius: 20px;
}
.service_blocks .blk h4{
  color: rgb(66, 7, 14);
  padding-top: 30px;
  font-weight: bold;
}
.service_blocks .blk p{
  color: black!impotant;
  padding: 40px;
  font-size: 1.3rem;
}

.service_blocks .icons{
  padding: 10px;
  margin-top: -40px;
  background-color: rgb(66, 7, 14);
  height: 5.5rem;
  border-radius: 20px;
}

/*---------Services room section----------*/

.room-section{
  background: #d9cacb;
  padding-top: 50px;
  padding-bottom: 50px;
}
.room-section h2{
  text-align: center;
  text-shadow: 2px 2px 4px maroon;
  color: rgb(66, 7, 14);
}
.room-section .card-blk{
 padding: 20px; 
}
.card-blk .card {
  overflow: hidden;
  background: #e8e3e5!important;
}
.card-blk .card-partition {
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-blk .card-text{
  font-weight: bold;
  padding-bottom:10px;
  margin-bottom: 0px;
}
.card-blk .card-title{  
  font-size: 1.4rem;
  color: rgb(66, 7, 14);
  text-shadow: 2px 2px 4px maroon;
  padding-bottom:15px;
}
.card-blk .card-text span{
  font-weight: normal;
  font-size: 0.9rem;
}
.room-card:hover{
transform: scale(1.1);
}
.room-card a{

}
.room-card a{
  border-color: rgb(66, 7, 14) !important;
  border-width: 2px;
  color: rgb(66, 7, 14);
}
.room-card a:hover{
  background: rgb(66, 7, 14) !important;
  color: white;
  font-weight: bold;
}

/*----------about us-------*/


.about-section{
  margin-top: 150px;
  margin-bottom: 80px;

}
.about-section h1{
  color: rgb(66, 7, 14);
  text-shadow: 2px 2px 4px black;
}

.about-section .about-background  { 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;

}

.about-text{
 padding: 20px;
 margin: 30px;
 background: #472328;
 color: white;

}
.about-text h3{
  text-shadow: 2px 2px 4px white;

}

/**---------details page---------*/
.category-section{
  margin-top: 50px;
  padding-top: 60px;
  padding-bottom: 80px;
}

.room-category .nav-link.active,
.room-category .nav-link:hover{
  font-weight: bold!important;
}

.details .carousel-item img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;  
  }

  .details .card-body{
    background: #d9cacb!important
  }

.details .card-text{
  font-weight: bold;
  padding-bottom:10px;
  margin-bottom: 0px;
}
.details .card-title{  
  font-size: 1.4rem;
  color: rgb(66, 7, 14);
  text-shadow: 2px 2px 4px maroon;
  padding-bottom:15px;
}
.details .card-text span{
  font-weight: normal;
  font-size: 0.9rem;
}
  

 /*-------Gallery section---------*/ 
.gallery .img-box{
padding: 5px;

}

.gallery  img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    height: 200px;
    
}
.gallery  img:hover{
    
    transform: scale(1.1);
}









/*-------responsive-----*/
@media screen and (max-width: 600px){
  .nav_logo img{
    height: 4rem;
  }
  .booking-img .background-image{
    height: 600px;
  }
  .home-slider .carousel-item img{
   height: 650px;  
  }
  .details .carousel-item img{
    
    height: 400px;  
  }
  .gallery  img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 180px;
    width: 70%;
   
  }
  .gallery .img-box{

text-align: center;
}

  .schedule .checkin , .checkout , .type , .booking{
    width: 50%;
    box-sizing: border-box;
  }
  .booking-form{
    left: 50%;
  }
}
@media screen and (min-width: 600px){
   .nav_logo img{
    height: 4.2rem;
  }
  .booking-img .background-image{
    height: 600px;
  }
  .home-slider .carousel-item img{
   height: 700px;  
  }
  #checkin , #checkout, #type {
    padding: 0px;
  }
  .booking-form{
    left: 55%;
  }
  .details .carousel-item img{
    
    height: 480px;  
  }

  

}
@media screen and (min-width: 768px){
    .nav_logo img{
    height: 5rem;
    }
  .booking-img .background-image{
    height: 600px;
  }
  .home-slider .carousel-item img{
   height: 500px;  
  }
  #checkin , #checkout, #type {
    padding-left: 5px;
    padding-right: 5px;
  }
  .details .carousel-item img{
    
    height: 600px;  
  }
  
}

@media screen and (min-width: 992px){
   .nav_logo img{
    height: 5.1rem;
  }
  .home-slider .carousel-item img{
   height: 100vh;  
  }
 
}

@media screen and (min-width: 1200px){
  .nav_logo img{
    height: 5.5rem;
  }
  .home-slider .carousel-item img{
   height: 100vh;  
  }
  
}





